@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{

/*** General ***/
/*******************************************************************************************************************/
    .responsive-w{
        @apply  w-11/12 sm:w-10/12 md:w-9/12 lg:w-8/12 xl:w-7/12 2xl:w-6/12
    }

/*** Content ***/
/*******************************************************************************************************************/
    .content{
        @apply responsive-w
            min-h-screen bg-lightgrey17b
            pt-0 md:pt-0
                
    }

/*** SocialsTopBar ***/
/*******************************************************************************************************************/
   .socialstopbar{   
        @apply  flex top-0 left-0 w-full
                h-20 md:h-20
                shadow-xl bg-blue17b text-white17b 
                items-center justify-center
    }
    .socialstopbar-icon{
        @apply  relative flex items-center justify-center px-2
                h-12 w-12 
                shadow-lg
                bg-orange17b text-white17b hover:bg-yellow17b hover:text-darkgrey17b 
                rounded-full hover:rounded-xl
                cursor-pointer;
                
    }    
    .topbar-text{
        @apply  relative flex items-center justify-center h-12 w-auto shadow-lg
                 bg-lightgrey17b text-white17b hover:bg-orange17b rounded-full hover:rounded-xl
                  cursor-pointer px-4;
    }

/*** TopBar ***/
/*******************************************************************************************************************/
    .topbar{
        @apply  flex left-0 w-full
                top-20 h-20 md:top-20 md:h-20
                bg-darkgrey17b shadow-lg items-center justify-center
    }
    .topbar-icon{
        @apply  relative flex items-center justify-center shadow-lg p-1
                h-12 w-12 
                 bg-lightgrey17b text-white17b hover:bg-orange17b rounded-full hover:rounded-xl
                  cursor-pointer;
                
    }
    .topbar-tooltip{
        @apply absolute w-auto p-2 m-2 min-w-max top-14
                rounded-md shadow-md
                text-white17b bg-darkgrey17b
                text-xs font-bold
                transition-all duration-100 scale-0 origin-left;
    }

}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }